.pagination-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  list-style-type: none;

  .pagination-item {
    padding: 0 20px;
    font-weight: bolder;
    height: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 10px;
    font-size: 17px;
    min-width: 36px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgb(183, 247, 183);
      cursor: pointer;
    }

    &.selected {
      background-color: rgb(141, 245, 141);
    }
    .arrow {
      &::before {
        position: relative;
        display: inline-block;
      }
    }

    &.disabled {
      pointer-events: none;
      color: rgb(143, 141, 141);
      &:hover {
        cursor: default;
      }
    }
  }
}

@media (max-width: 600px) {
  .pagination-container {
    .pagination-item {
      height: 40px;
      font-size: 17px;
    }
  }
  .text {
    display: none;
  }
  .arrows {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .pagination-container {
    .pagination-item {
      padding: 0 15px;
      height: 30px;
      font-size: 15px;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .pagination-container {
    .pagination-item {
      padding: 0 13px;
      height: 20px;
      font-size: 13px;
      text-align: center;
      border-radius: 0px;
    }
  }
}
