.container {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

hr {
  border-top: 1px #00ff80;
  margin: 0px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  border: none;
  max-height: 400px;
  overflow: hidden;
  padding: 20px;
  color: black;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .image {
  height: 220px;
  position: relative;
  margin-bottom: 30px;
}

.card .image img {
  height: 230px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card h3 {
  font-size: 15px;
  color: black;
}

.card h2 {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 25%;
  }
}

.pagination-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
