.active {
  border-bottom: medium solid black;
  border-bottom-width: 80%;
  color: black;
  font-weight: bolder;
}

.filter {
  margin-top: 2px;
  color: #08a0bb;
  display: flex;
  flex-direction: row;

  span {
    margin-right: 20px;
    font-weight: bolder;
    margin-top: 7px;
  }

  .filterItems {
    padding: 7px 7px;
    font-size: 15px;
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
      font-weight: bolder;
    }
  }
}

@media (max-width: 390px) {
  .filter {
    span {
      margin-top: 18px;
    }
  }
}

@media (max-width: 500px) {
  .filter {
    display: block;
    margin-bottom: 20px;
    span {
      display: block;
      margin-top: 18px;
    }
    .filterItems {
      display: block;
    }
  }
}
